<% var country = typeof country !== 'undefined' ? country : ''; %>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i> &nbsp; Explore</a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto mt-2">
                <form class="d-flex flex-column flex-md-row gap-3 align-items-center" role="search" method="GET" action="/listings">
                    <input class="form-control search-input" type="search" name="q" placeholder="Search destinations" value="<%= typeof q !== 'undefined' ? q : '' %>"/>
                    <div class="select-wrapper country-filter" style="position: relative;">
                        <select class="form-select" name="country" style="width: 100%;">
                        <option value="">All Countries</option>
                        <option value="Argentina" <%= country === 'Argentina' ? 'selected' : '' %>>Argentina</option>
                        <option value="Australia" <%= country === 'Australia' ? 'selected' : '' %>>Australia</option>
                        <option value="Austria" <%= country === 'Austria' ? 'selected' : '' %>>Austria</option>
                        <option value="Belgium" <%= country === 'Belgium' ? 'selected' : '' %>>Belgium</option>
                        <option value="Brazil" <%= country === 'Brazil' ? 'selected' : '' %>>Brazil</option>
                        <option value="Canada" <%= country === 'Canada' ? 'selected' : '' %>>Canada</option>
                        <option value="Chile" <%= country === 'Chile' ? 'selected' : '' %>>Chile</option>
                        <option value="China" <%= country === 'China' ? 'selected' : '' %>>China</option>
                        <option value="Colombia" <%= country === 'Colombia' ? 'selected' : '' %>>Colombia</option>
                        <option value="Costa Rica" <%= country === 'Costa Rica' ? 'selected' : '' %>>Costa Rica</option>
                        <option value="Croatia" <%= country === 'Croatia' ? 'selected' : '' %>>Croatia</option>
                        <option value="Czech Republic" <%= country === 'Czech Republic' ? 'selected' : '' %>>Czech Republic</option>
                        <option value="Denmark" <%= country === 'Denmark' ? 'selected' : '' %>>Denmark</option>
                        <option value="Dominican Republic" <%= country === 'Dominican Republic' ? 'selected' : '' %>>Dominican Republic</option>
                        <option value="Egypt" <%= country === 'Egypt' ? 'selected' : '' %>>Egypt</option>
                        <option value="Finland" <%= country === 'Finland' ? 'selected' : '' %>>Finland</option>
                        <option value="France" <%= country === 'France' ? 'selected' : '' %>>France</option>
                        <option value="Germany" <%= country === 'Germany' ? 'selected' : '' %>>Germany</option>
                        <option value="Greece" <%= country === 'Greece' ? 'selected' : '' %>>Greece</option>
                        <option value="Hungary" <%= country === 'Hungary' ? 'selected' : '' %>>Hungary</option>
                        <option value="Iceland" <%= country === 'Iceland' ? 'selected' : '' %>>Iceland</option>
                        <option value="India" <%= country === 'India' ? 'selected' : '' %>>India</option>
                        <option value="Indonesia" <%= country === 'Indonesia' ? 'selected' : '' %>>Indonesia</option>
                        <option value="Ireland" <%= country === 'Ireland' ? 'selected' : '' %>>Ireland</option>
                        <option value="Italy" <%= country === 'Italy' ? 'selected' : '' %>>Italy</option>
                        <option value="Japan" <%= country === 'Japan' ? 'selected' : '' %>>Japan</option>
                        <option value="Malaysia" <%= country === 'Malaysia' ? 'selected' : '' %>>Malaysia</option>
                        <option value="Mexico" <%= country === 'Mexico' ? 'selected' : '' %>>Mexico</option>
                        <option value="Morocco" <%= country === 'Morocco' ? 'selected' : '' %>>Morocco</option>
                        <option value="Netherlands" <%= country === 'Netherlands' ? 'selected' : '' %>>Netherlands</option>
                        <option value="New Zealand" <%= country === 'New Zealand' ? 'selected' : '' %>>New Zealand</option>
                        <option value="Norway" <%= country === 'Norway' ? 'selected' : '' %>>Norway</option>
                        <option value="Panama" <%= country === 'Panama' ? 'selected' : '' %>>Panama</option>
                        <option value="Peru" <%= country === 'Peru' ? 'selected' : '' %>>Peru</option>
                        <option value="Philippines" <%= country === 'Philippines' ? 'selected' : '' %>>Philippines</option>
                        <option value="Poland" <%= country === 'Poland' ? 'selected' : '' %>>Poland</option>
                        <option value="Portugal" <%= country === 'Portugal' ? 'selected' : '' %>>Portugal</option>
                        <option value="Russia" <%= country === 'Russia' ? 'selected' : '' %>>Russia</option>
                        <option value="Singapore" <%= country === 'Singapore' ? 'selected' : '' %>>Singapore</option>
                        <option value="South Africa" <%= country === 'South Africa' ? 'selected' : '' %>>South Africa</option>
                        <option value="Korea, South" <%= country === 'Korea, South' ? 'selected' : '' %>>South Korea</option>
                        <option value="Spain" <%= country === 'Spain' ? 'selected' : '' %>>Spain</option>
                        <option value="Sweden" <%= country === 'Sweden' ? 'selected' : '' %>>Sweden</option>
                        <option value="Switzerland" <%= country === 'Switzerland' ? 'selected' : '' %>>Switzerland</option>
                        <option value="Thailand" <%= country === 'Thailand' ? 'selected' : '' %>>Thailand</option>
                        <option value="Turkey" <%= country === 'Turkey' ? 'selected' : '' %>>Turkey</option>
                        <option value="United Kingdom" <%= country === 'United Kingdom' ? 'selected' : '' %>>United Kingdom</option>
                        <option value="United States" <%= country === 'United States' ? 'selected' : '' %>>United States</option>
                        <option value="Vietnam" <%= country === 'Vietnam' ? 'selected' : '' %>>Vietnam</option>
                        </select>
                    </div>
                    <button class="btn search-btn d-flex align-items-center" type="submit">
                        <i class="fa-solid fa-magnifying-glass me-1"></i>
                        <span>Search</span>
                    </button>
                </form> 
            </div>



            <div class="navbar-nav ms-auto align-items-center mt-2">
                <button id="darkModeToggle" class="ms-2 me-3" type="button" aria-pressed="false" autocomplete="off">
                    <span class="toggle-slider"></span>
                    <i class="fa-solid fa-moon"></i>
                    <i class="fa-solid fa-sun"></i>
                </button>
                <a class="nav-link" href="/listings/new">Airbnb your Home</a>
                <% if(!currentUser) { %>
                    <a class="nav-link active" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                <% } else { %>
                    <a class="nav-link" href="/logout">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
