<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h3>Edit list</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PATCH">
        <input type="text" name="listing[title]" placeholder="Enter title" value="<%= listing.title %>">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter description"><%= listing.description %></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image url/link" value="<%= listing.image %>">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter price" value="<%= listing.price %>">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country" value="<%= listing.country %>">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter location" value="<%= listing.location %>">
        <br><br>
        <button>Confirm</button>
    </form>
</body>